.text-red{
    color: red;
}

.text-blue{
    color: blue;
}

.text-purple{
    color: purple;
}

.text-pink{
    color: pink;
}

.text-green{
    color: green;
}

.text-orange{
    color: orange;
}

.text-white{
    color: rgb(255, 255, 255);
}